.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: auto; 
    margin-bottom: 1rem;
  }
  
  .card .info {
    font-size: 0.9rem;
    color: #666;
  }
  
  .card p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 0;
  }
  